:root {
    --Verydarkblue: hsl(233, 47%, 7%);
    --Darkdesaturatedblue: hsl(244, 38%, 16%);
    --Softviolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
    --Slightly: hsla(0, 0%, 100%, 0.6);
    --font1: 'Inter',
        sans-serif;
    --font2: 'Lexend Deca',
        sans-serif;

}