main {

    padding: 7.5em 3em;
    display: grid;
    grid-template-columns: minmax(300px, 480px);
    place-content: center;

}

.card--section {
    background: var(--Darkdesaturatedblue);
    border-radius: 4px;

    h1 {

        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        font-family: var(--font1);
        color: var(--White);

        span {

            color: var(--Softviolet);
        }


    }
}

.text--section {
    padding: 1em;
    margin-top: 1.5em;

    p {
        color: var(--Slightlytransparentwhite);
        text-align: center;
        font-weight: 400;
    }
}

.image--section {
   position: relative;
    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--Softviolet);
        mix-blend-mode: overlay;
        opacity: 0.7;
    }
    

   
}

.main--title {
    margin-bottom: 3em;
    overflow: hidden;
}

.followers--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}

.content {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 1.35rem;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: var(--White);
    }

    p {
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}


@media screen and (min-width:1100px) {
    main {
        grid-template-columns: auto;
    }

    .card--section {
        display: grid;
        grid-template-columns: 600px auto;
    }

    .text--section {
        order: 1;

        h1,
        p {
            text-align: left;
            text-transform: capitalize;
        }
    }

    .image--section {
        order: 2;
    }

    .followers--section {
        flex-direction: row;
    }



    .text--section {
        padding: 3em;
    }

    .content {
        margin-bottom: 0;

        p {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}